{% extends 'base.html.twig' %}

{% block title %}New Equipement{% endblock %}

{% block body %}
    <h1>Create new Equipement</h1>

    {{ include('admin/admin_equipement/_form.html.twig') }}

    <a href="{{ path('app_admin_admin_equipement_index') }}">back to list</a>
{% endblock %}
