{% extends "base.html.twig" %}
{% block title %} Modifiez votre profile :  {% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
{% endfor %}
    <h1>Modifiez votre mot de passe :  </h1>
    <div class="row">
        <div class="col-md-6">
        {% if form.password is defined %}
            {{ form_start(form) }}
                {{ form_row (form.password )}}           
                <input type="submit" class="btn btn-success" value="Envoyer">
            {{ form_end(form) }}
        {% endif %}
        </div>
    </div>
{% endblock %}